body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(18, 21, 32);
    
}

.footer{
    display: grid;
    place-items: center;
    height: 5vh;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.parent{
    display: grid;
    place-items: center;
    max-width: 100%;
    height: 93vh;
}

#input-summoner-info{
    display: grid;
    grid-template-columns: 20em;
    grid-template-rows: 5em 5em 5em;
}

#usernameinput{
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    text-align: center;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-color: rgb(18, 21, 32);
    color: whitesmoke;
    transition: ease-in-out 150ms;
}

#usernameinput:focus{
    background-color: whitesmoke;
    color: rgb(18, 21, 32);
}

#submitbtn{
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-color: rgb(18, 21, 32);
    color: whitesmoke;
    transition: ease-in-out 150ms;
}
#submitbtn:hover{
    background-color: whitesmoke;
    color: rgb(18, 21, 32);
}

#region{
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    text-align: center;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-color: rgb(18, 21, 32);
    color: whitesmoke;
    transition: ease-in-out 150ms;

}

#region:hover{
    background-color: whitesmoke;
    color: rgb(18, 21, 32);
}