#greeting{
    text-align: center;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-color-low-lum);
    color: var(--secondary-color);
    margin: 0;
}

button{
    color: var(--secondary-color);
    background-color: var(--main-color-high-lum);
    border: 0;
    border-radius: 5px;
    padding: 0.5em;
    transition: 150ms ease-in-out;
}

button:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.win-true{
    border: 3px solid var(--win);
    border-radius: 5px;
    transition: 150ms ease-in-out;
}

.win-true:hover{
    background-color: var(--win-low-opa);
}

.win-false{
    border: 3px solid var(--lose);
    border-radius: 5px;
    transition: 150ms ease-in-out;
}

.win-false:hover{
    background-color: var(--lose-low-opa);
}

.more-games{
    width: auto;
    padding: 1em;
}

.more-games-wraper{
    display: grid;
    place-items: center;
    height: fit-content;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

.match{
    display: grid;
    grid-template-columns: 5em 8em 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.match-champ-img{
    max-width: 5em;
    max-height: 5em;
}

.grid-container{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 2em;
    gap: 10px;
    padding: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
}

.summonericon{
    max-width: 15em;
    display: inline;
}

.grid-summonerinfo{
    display: flex;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 10px;
    gap: 1em;
}

.grid-matchhistory{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}