#greeting{
    text-align: center;
}

.wins{
    color: var(--win);
}
.loses{
    color: var(--lose);
}
.deaths{
    color: var(--lose);
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-color-low-lum);
    color: var(--secondary-color);
    margin: 0;
}

button{
    color: var(--secondary-color);
    background-color: var(--main-color-high-lum);
    border: 0;
    border-radius: 1em;
    padding: 0.5em;
    transition: 150ms ease-in-out;
}

button:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.win-true{
    color: var(--win);
    transition: 150ms ease-in-out;
}


.win-false{
    color: var(--lose);
    transition: 150ms ease-in-out;
}

.more-games{
    width: auto;
    padding: 1em;
}

.more-games-wraper{
    display: grid;
    place-items: center;
    height: fit-content;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

.match{
    background-color: var(--main-color-high-lum);
    display: grid;
    grid-template-columns: 5em 8em auto 5em auto auto;
    padding: 3px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    border: var(--main-color) solid 3px;
    transition: border 150ms ease-in-out;
}

.win-false:hover{
    border: 3px solid var(--lose);
}

.win-true:hover{
    border: 3px solid var(--win);
}

.match div img{
    height: 2em;
    width: 2em;
    border-radius: 0.5em;
    border: 0.2em solid var(--main-color-low-lum);
}

.match div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.match-champ-img{
    max-width: 5em;
    max-height: 5em;
    border-radius: 1em;
    border: 0.3em solid var(--main-color-low-lum);
}

.grid-container{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto;
    gap: 10px;
    padding: 1.5em;
    padding-left: 25%;
    padding-right: 25%;
}

.summonericon{
    max-width: 15em;
    display: inline;
    border-radius: 1em;
    border: 0.4em solid var(--main-color-low-lum);
}

.grid-summonerinfo{
    background-color: var(--main-color-high-lum);
    border-radius: 1em;
    display: flex;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 10px;
    gap: 1em;
}

.grid-summonerinfo div{
    text-align: center;
    flex-grow: 2;
}

.grid-matchhistory{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}