:root{
    --main-color: hsl(227, 28%, 10%);
    --main-color-low-lum: hsl(228, 29%, 8%);
    --main-color-high-lum: hsl(228, 29%, 13%);
    --secondary-color: hsl(0, 0%, 96%);
    --lose: hsl(358, 94%, 62%);
    --win: hsl(150, 49%, 59%);
    --lose-low-opa: hsla(358, 94%, 62%, 0.75);
    --win-low-opa: hsl(150, 49%, 59%, 0.75);
    --red-side: hsl(358, 94%, 62%);
    --blue-side: hsl(196, 93%, 60%);
    --ban-img-width: 2em
}

h1{
    margin: 0;
}

.footer i{
    
}

.footer a{
    opacity: 50%;
    font-weight: 700;
}

.loader-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color-low-lum);
    display: grid;
    place-items: center;
    transition: 1000ms ease-out;
}

.loader-wrapper h1{
    color: var(--secondary-color);
}

.loaded{
    opacity: 0;
    pointer-events: none;
}

.footer{
    display: grid;
    place-items: center;
    height: 5vh;
    background-color: var(--main-color-low-lum);
}

.header h1{
    opacity: 50%;
}

.header{
    display: grid;
    place-items: center;
    min-height: 3em;
    height: fit-content;
    background-color: var(--main-color-low-lum);
}